PORT=5000
MONGODB_URI=mongodb://localhost:27017/mindcare
JWT_SECRET=ccfa4180d6225f31b07955ceabec2a427351367c844b8c753e430fea755594818cf1ebf220c4321e8c9592407a092a94376d013c0b84d33c52b26eeb80f758b4

# Nodemailer (Gmail SMTP)
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password

# Twilio (optional)
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_token
TWILIO_PHONE=+1234567890

# Frontend URL
CLIENT_URL=http://localhost:3000

# Cloudinary (for activity proof uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
